<header class="header">
    <div class="logo-container" routerLink="/home">
      <img src="assets/images/dell-png.png" alt="Dell Technologies Logo" class="logo" />
    </div>
    <h3>AI-Powered Solution for Accelerating Defect Resolution (ADR)</h3>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </nav>
    <div class="profile-container">
      <img src="assets/images/profile.png" alt="User Profile" class="profile-avatar" />
    </div>
  </header>
  